# macOS system files
.DS_Store

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# MinIO system folders
minio.sys/
minio-py/
staet/
start/


# Virtual environments
env/
venv/

# VSCode settings (optional)
.vscode/

# Media and build folders
videos/
static/

# Template cache
templates/__pycache__/
